.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  color: #000;
}

.auth form ul {
  margin: 0;
  list-style: none;
  padding: 10px 20px;
}

.auth form .register-component {
  position: relative;
  width: 550px;
  min-height: 400px;
  max-height: 95vh;
  padding: 10px 50px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: auto;
}

.auth form #registration {
  font-weight: 700;
  color: var(--main-color);
  cursor: pointer;
  border-bottom: 2px solid var(--main-color);
  padding-bottom: 5px;
}

.auth form .login-component {
  background: #fff;
  padding: 40px 50px;
  position: relative;
  width: 550px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: auto;
}

.auth form .login-component .remember-forgot {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.auth form .login-component .additional-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.auth form .login-component .remember-forgot input[type="checkbox"] {
  width: auto;
  accent-color: var(--main-color-light);
}

.auth form .register-col {
  display: flex;
  justify-content: center;
  position: relative;
  left: 50%;
  transform: translateX(-150%);
  transition: all 0.228s;
}

.auth form .register-col.animated {
  position: relative;
  top: 0;
  left: 0;
  transform: translate(0, 0);
}

.auth form {
  width: 100%;
}

.auth form h2 {
  text-align: center;
  font-weight: 600;
  pointer-events: none;
}

.auth form .input-box {
  position: relative;
  margin-top: 20px;
}

.auth form .box-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -20px;
  z-index: 1;
  display: inline-block;
}

.auth form .box-icon > p {
  position: absolute;
  pointer-events: none;
  opacity: 0;
  transition: all 0.228s ease;
  background: #ccc;
  border-radius: 5px;
  color: #000;
  padding: 10px 20px;
  z-index: 1;
  min-width: 200px;
  text-align: center;
  font-size: 0.9rem;
}

.auth form .box-icon .info-icon:hover ~ p {
  opacity: 1;
}

.auth form input {
  position: relative;
  padding: 10px 20px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  color: #000;
}

.auth form .input-box span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  opacity: 1;
  pointer-events: none;
  transition: all 0.228s ease;
}

.auth form .input-box input:focus ~ span,
.auth form .input-box input:valid ~ span {
  top: 0;
  transform: translateY(-57%);
  font-size: 0.9rem;
  background: #fff;
  padding: 0 5px;
  color: rgba(0, 0, 0, 0.45);
}

.auth form .input-box input ~ select {
  position: absolute;
  width: auto;
  box-shadow: none;
  pointer-events: none;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  direction: ltr;
  transition: all 0.3s;
  opacity: 0;
  color: #000;
  padding: 0;
  font-size: 1rem;
}

.auth form .input-box input:valid ~ select {
  opacity: 1;
  pointer-events: all;
}

.auth form .label {
  margin-bottom: 10px;
}

.auth form #gender {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
  margin: 15px 0;
}

.auth form #gender .inner-box {
  display: flex;
  gap: 10px;
}

.auth form #gender input {
  box-shadow: none;
  border-radius: 0;
}

.auth form #gender input#female {
  accent-color: deeppink;
}

.auth form label {
  cursor: pointer;
}

.auth form input.input-ltr {
  direction: ltr;
}

.auth form input[type="submit"] {
  cursor: pointer;
  margin-top: 30px;
  background: #eef5ff;
  color: #000;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.228s ease;
}

.auth form input[type="submit"]:hover {
  background: #fff;
  color: #000;
}

.auth form select {
  width: 100%;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  background: #fff;
  color: inherit;
}

.auth .item-disabled {
  pointer-events: none;
  opacity: 0.5;
}

@media (min-width: 320px) and (max-width: 767px) {
  .auth form .login-component {
    width: 100%;
    padding: 10px 20px;
  }
}

@media (min-width: 320px) and (max-width: 1200px) {
  .auth .register-row {
    overflow: auto;

    height: 100vh;
    gap: 10px;
  }

  .auth form .register-col {
    left: 0;
    transform: translate(0, 0);
  }

  .auth form .register-component {
    padding: 10px 20px;
  }
}
