.nav {
  opacity: 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: all 0.5s ease;
  color: #fff;
  pointer-events: none;
}

.nav .inner-main-container-2 {
  display: none;
}

.nav.sticky {
  opacity: 1;
  padding: 30px;
  pointer-events: auto;
  backdrop-filter: blur(10px) brightness(0.7);
}

.nav.hidden {
  padding: 20px;
  backdrop-filter: brightness(0.3) blur(8px);
}

.nav h3 {
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  user-select: none;
  font-family: "Noto Serif JP", serif;
  font-weight: 700;
  color: #fff;
}

.nav a {
  position: relative;
  text-decoration: none;
  color: #9c9c9c;
  font-weight: 700;
  transition: all 0.4s ease;
  padding: 10px 0px;
}

.nav a::before {
  content: "";
  background: transparent;
  position: absolute;
  top: 0;
  right: 0;
  border-top: 1px solid rgba(255, 255, 255);
  width: 0%;
  transition: all 0.4s ease;
  height: 100%;
}

.nav a::after {
  content: "";
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(255, 255, 255);
  width: 0%;
  transition: all 0.4s ease;
  height: 100%;
}

.nav a.logo {
  display: flex;
  align-items: center;
}

.nav a.logo img {
  width: 70px;
  transform: translateY(-10px);
}

.nav a:hover {
  color: #fff;
}

.nav ul a:hover::before,
.nav ul a:hover::after {
  width: 100%;
}

.nav ul a .circle {
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 50%;
  border: 2px dashed rgba(255, 255, 255, 0.5);
}

.nav ul a:hover .circle {
  background: rgba(255, 255, 255, 0.2);
}

.nav ul a:active .circle {
  background: rgba(255, 255, 255, 0.5);
}

.nav .btn {
  position: relative;
  transition: all 0.228s ease;
  font-size: 15px;
}

.nav .btn::before {
  content: "";
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2px;
  transition: all 0.228s ease;
  transform: skew(20deg, -20deg);
}

.nav .btn:hover::before {
  background: rgba(255, 255, 255, 0.5);
  transform: skew(0deg, 0deg);
}

.nav ul {
  margin: 0;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
  padding: 0;
}

.nav .slide-menu {
  display: none;
}

/* media queries */

@media (min-width: 320px) and (max-width: 767px) {
  .nav.sticky {
    padding: 10px 20px;
  }
}

@media (min-width: 320px) and (max-width: 1200px) {
  .nav .inner-main-container {
    display: none;
  }

  .nav .inner-main-container-2 {
    display: flex;
  }

  .nav .inner-main-container-2 {
    width: 100%;
  }

  .nav .slide-menu {
    display: block;
    position: fixed;
    top: 65.22px;
    right: 0;
    height: 100vh;
    width: 90%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: brightness(0.3) blur(8px);
    transition: all 0.228s ease;
    transform: translateX(100%);
    padding: 20px 20px 20px 30px;
  }

  .nav .slide-menu .btn {
    margin: 10px 0;
  }

  .nav .slide-menu ul {
    flex-direction: column;
    gap: 20px;
    margin-top: 2rem;
  }

  .nav .slide-menu ul li,
  .nav .slide-menu ul a {
    width: 100%;
  }

  .nav .slide-menu ul a {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  .nav .slide-menu-active {
    transform: translateX(0%);
  }

  .nav h3 {
    font-size: 1rem;
  }
}

@media (min-width: 767px) and (max-width: 1200px) {
  .nav .slide-menu {
    top: 125.22px;
  }

  .nav .slide-menu ul {
    margin-top: 3rem;
  }

  .nav .icon {
    font-size: 3rem;
  }

  .nav h3 {
    font-size: 2rem;
  }
}
