.card-component {
  position: relative;
  min-height: 250px;
  background: #ee0;
  width: 250px;
  border-radius: 20px;
  transition: all 0.6s;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.card-component:hover {
  transform: rotateX(35deg);
  transform-style: preserve-3d;
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.1),
    0 35px 5px 10px rgba(0, 0, 0, 0.5);
}

.card-component j {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  transition: all 0.6s;
}

.card-component:hover j {
  background: rgba(0, 0, 0, 0.65);
}

.card-component i {
  border-radius: 20px;
  transition: all 0.228s;
  position: absolute;
  width: 100%;
  height: 100%;
}

.card-component img {
  transition: all 0.6s;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  left: -13px;
  object-fit: cover;
  object-position: center;
  opacity: 0;
}

.card-component:hover img {
  /* filter: drop-shadow(-4px 4px 6px black); */
  transform: scale(1.1);
  opacity: 1;
  bottom: 13px;

  border-radius: 20px;
  /* backdrop-filter: blur(3px); */
  /* backdrop-filter: brightness(0.3); */
}

.card-component .content-box {
  position: absolute;
  bottom: 0;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding: 10px;
  color: #000;
  z-index: 1;
  overflow: hidden;
  transition: all 0.6s;
  /* opacity: 0; */
}

.card-component:hover .content-box {
  transform: translateY(40px) rotateX(-35deg);
}

.card-component .content-box h4 {
  font-weight: 600;
}

.card-component .content-box ul {
  height: 100%;
  list-style: none;
  padding: 0;
  padding-bottom: 10px;
  margin: 0;
  direction: ltr;
  line-height: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.card-component .content-box ul li {
  display: flex;
  justify-content: center;
  color: beige;
  text-shadow: 0 0rem 0.4rem black;
}

.card-component .content-box ul li strong {
  color: burlywood;
}

.card-component ol {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 0.5rem;
}
