.card-component {
  position: relative;
  min-height: 250px;
  background: #ee0;
  width: 250px;
  border-radius: 20px;
  transition: all 0.6s;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.card-component i {
  border-radius: 20px;
  transition: all 0.228s;
  position: absolute;
  width: 100%;
  height: 100%;
}

.card-component img {
  transition: all 0.6s;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  left: -13px;
  object-fit: cover;
  object-position: center;
  opacity: 0;
}

.card-component:hover img {
  transform: scale(1.1);
  opacity: 1;
  bottom: 13px;

  border-radius: 20px;
  backdrop-filter: blur(3px);
}

.card-component .content-box {
  position: absolute;
  bottom: 0;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  color: #000;
  z-index: 1;
  overflow: hidden;
  background: #faebd7;
  transition: all 0.6s;
  opacity: 0;
}

.card-component:hover .content-box {
  transform: translateY(65px);
  animation: showTicket 0.6s forwards;
}

@keyframes showTicket {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.card-component .content-box h4 {
  font-weight: 600;
}

.card-component .content-box ul {
  height: 100%;
  list-style: none;
  padding: 0;
  padding-bottom: 10px;
  margin: 0;
  direction: ltr;
  line-height: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.card-component .content-box ul li {
  display: flex;
  justify-content: center;
  color: #000;
}

.card-component ol {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 0.5rem;
}
